<div>
    <form id="custom-checkout-form" class="form" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
        <fieldset class="fieldset">
            <legend data-bind="i18n: 'Custom Checkout Form'"></legend>
            <!-- ko foreach: getRegion('custom-checkout-form-fields') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
            <div class="data_area customer-dob row">
            <div class="dob-month col-md-2">
                <input type="text" id="dob_month" name="dob_month" value="" title="Month" placeholder="Month" class="t1 validate-custom" required="">
                         <label for="billing:month">MM</label>
                     </div>
                
            <div class="dob-day col-md-2">
                         <input type="text" id="billing:day" name="billing[day]" value="" title="Day" placeholder="Day" class="t1 validate-custom">
                         <label for="billing:day">DD</label>
                     </div>
                <div class="dob-year col-md-2">
                         <input type="text" id="billing:year" name="billing[year]" value="" title="Year" placeholder="Year" class="t1 validate-custom" autocomplete="off">
                         <label for="billing:year">YYYY</label>
               </div>    
        </div>
        </fieldset>
        
        <button type="reset">
            <span data-bind="i18n: 'Reset'"></span>
        </button>
        <button type="button" data-bind="click: onSubmit" class="action">
            <span data-bind="i18n: 'Submit'"></span>
        </button>
    </form>
</div>